.bienvenida{
    width: 100%;
    height: 40%;
   
}

.contenedorMenu{
    width: 100%;
    height: 80px;
    background: #80ffdb;
    
}

.headerPerfil{
    padding-top: 5px;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.nombrePerfil{
    display: flex;
    padding-right: 15px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: #ff0a54;
  }
  
.foto{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-left: 10px;
}

/* Centra el input personalizado con el texto */
.iconoMenu {
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    
    
}

/* Modificador para dar la imagen de checkbox */
.checkmenuImg {
    
    background-image: url(../img/menu.png);
}

/* Oculta input original */
.iconoMenu > .checkmenu {
    display: none;
}

/* Radio personalizado usando <span> */
.iconoMenu > .imgMenu {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
}

/* Cambia el checkbox personalizado cuando es pulsado */
.iconoMenu > .checkmenu:checked + .checkmenuImg {
    background-image: url(../img/close.png);
}

.asideMenu{
    width: 30%;
    height: 500px;
    background: #48bfe3;
    display: none;
    transition: all 300ms ease;
    z-index: 10px;
    position:fixed;
}

.asideMenu .listasMenu a{ 
    font-size:20px ;
    color:white;
    /*Se usa el display block para que el enlace respete el margin*/
    display: block;
    padding:20px;
    text-transform: uppercase;
 }
.asideMenu .listasMenu li{
    padding-top: 30px;
    padding-left: 15px;
    width:100%;
    font-size:20px;
        
 }

 .asideMenu .listasMenu li:last-child{
    align-items: flex-end;
   
    border: none;
 }
 .asideMenu .listasMenu a:hover{ 
    font-size: 20px;
    padding: 30px 0px; 
    background: #7400b8;
    text-transform: uppercase;  
 }
.iconoSalir{
    width: 50px;
    height: 50px;
}

 .cajapost{
    width: 80%;
 
    margin: auto;
    padding-top: 50px;
   
}
.cardCont{
    width: 450px;
    height: 300px;
    padding-top: 15px;
    background: white;
    margin: auto;
}

.cajaPost{
    width: 90%;
    height: 80%;
    margin:auto;
    overflow: hidden;
    border-radius: 5px;
}

.cajaText{
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: #fff0f3;
   
}
.cajaIcon{
    width: 90%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;

}
.btnDelete{
   margin-right: 5px;
   border: none;
   font-size: 30px;
   align-items: center;
   padding-top: 5px;
   cursor: pointer;
   color: #ff0000;
   background: white;
   border-radius: 3px;
}

.btnEdit{
    border: none;
    font-size: 30px;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
    background: white;
    border-radius: 3px;
    color: #7400b8;
}

.sectionBody{
    width: 80%;
 
    margin: auto;
    padding-top: 50px;
   
}

.formPost{
    width: 450px;
    height: 300px;
    padding-top: 15px;
    background: white;
    margin: auto;
}

.cajatextform{
    width: 90%;
    height: 80%;
    margin:auto;
    overflow: hidden;
    border-radius: 5px;
}
.textoPost{
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: #fff0f3;
}

.cajabtn{
    width: 90%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
}
.botonPost{
    width: 100px;
    height: 30px;
    border: none;
    background:var(--color_boton_form_hover);
}


