.bienvenida {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(17, 15, 15, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgb(0, 0, 0, 0.2) 150%), linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 200%),url(../img/musica2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url(../img/musica2.jpg);  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    /*background: linear-gradient(to bottom, rgba(17, 15, 15, 0.5) 0%, rgba(0, 0, 0, 0.6) 40%, rgb(0, 0, 0, 0.9) 150%), linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 200%)/*,url(../img/sinFondo.png);
  background-blend-mode: multiply;*/

 
}

/*cambiar en pc el height*/
.contenedorMenu {
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 100%);
    background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    /*background: linear-gradient(to right, rgba(0, 219, 222, 0.7) 0%, rgba(252, 0, 255, 0.7) 100%);
    /*background: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);*/
background-image: url(../img/musica.jpg);
    z-index: 2;
}

/*cambiar en pc*/
.headerPerfil {
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/*cambiar en pc*/
.nombrePerfil {
    display: flex;

    text-align: center;
    align-items: center;
    font-size: 15px;
    color: rgba(0, 219, 222, 0.7);
}

/*cambiar en pc*/
.foto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
}

/*cambiar en pc*/
/* Centra el input personalizado con el texto */
.iconoMenu {
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.checkMenu{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}
.checkMenuIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.asideMenu {
    width: 45%;
    height: 220px;
    background : rgba(247, 37, 133, 0.7);
    /*background: linear-gradient(to top, rgba(232, 25, 139, 0.8) 0%, #c7eafd 100%);*/
    display: none;
    transition: all 300ms ease;
    z-index: 10px;
    position: fixed;
    top: 65px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.asideMenu .listasMenu a {

    font-size: 10px;
    color: white;
    display: block;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: 700;
}

.asideMenu .listasMenu li {
    padding-top: 5px;
    padding-left: 15px;
    width: 100%;
    font-size: 10px;

}

.asideMenu .listasMenu li:last-child {
    align-items: flex-end;

    border: none;
}

.asideMenu .listasMenu a:hover {
    font-size: 10px;
    padding: 10px 0px; 
    background: #d9afd9;
    text-transform: uppercase; 
    color: rgba(247, 37, 133, 0.7);
    font-weight: 700;
    cursor: pointer;
}

.iconoSalir {
    width: 30px;
    height: 30px;
}

/*pagina*/

.header_pagina {
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    padding-top: 55px;

}

.header_pagina h1{
    font-family: 'Aladin', cursive;
    font-weight: 700;
    font-size: 40px;
    color:#38f9d7;
}

.header_pagina h3{
  color: #88fde8;
}

.cajapost {
    width: 80%;
    margin: auto;
    padding-top: 50px;

}

.contenedorCaja {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardCont {
    width: 250px;
    height: 160px;
    padding-top: 15px;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(255, 254, 254, 0.2);
    margin-bottom: 15px;

}
.notas{
    width: 60px;
    height: 60px;
    display: inline;
    position: relative;
    right: -210px;
   /* position: relative;
    display: inline;
    width: 30px;
    height: 30px;
    top: 0;
    right: -210px;*/
    
}

.cajaPost {
    width: 90%;
    height: 70%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}

.cajaText {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: #fff0f3;
    border: none;
    padding-left: 10px;

}

.cajaText:focus {
    color: rgb(168, 24, 168);

}

.cajaName {
    width: 90%;
    height: 10%;
    margin: auto;
    color: #b298dc;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 5px;
    font-weight: 700;
}

.cajaIcon {
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;

}

.btnDelete {
    margin-right: 5px;
    border: none;
    font-size: 30px;
    align-items: center;
    padding-top: 0px;
    background: inherit;

}

 .numLike{
     padding-top: 5px;
     margin-left: 5px;
     color: white;
     font-size: 15px;
 }
.delete_img {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.delete_img:hover{
    box-shadow: 1px 1px 5px 5px rgb(219, 6, 6, 0.5);
}

.btnEdit {
    border: none;
    align-items: center;
    padding-top: 5px;
    background: inherit;
}

.edit_img {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.edit_img:hover{
    box-shadow: 1px 1px 5px 5px rgba(6, 219, 173, 0.5);
}

.cajaEdit {
    display: none;
    width: 90%;
    height: 15%;
    margin: auto;
    align-items: end;
    right: 0;
    padding-top: 5px;
}

.btnSaveImage {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.btnSaveText {
    float: right;
    right: 0;
    border: none;
    align-items: center;
    padding-top: 5px;
    background: inherit;
}

.sectionBody {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;

}

.sectionBody h3 {
    font-size: 13px;
    padding-bottom: 7px;
    color: #ff0054;
}

.formPost {
    width: 250px;
    height: 200px;
    padding-top: 15px;
    background: white;
    margin: auto;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.cajatextform {
    width: 90%;
    height: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;

}

.textoPost {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: #fff0f3;
    border: none;
    padding-left: 5px;
}

.cajabtn {
    width: 90%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
}

.botonPost {
    color: white;
    width: 70px;
    height: 25px;
    border: none;
    background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.botonPost:hover {
    background: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.btnLike {
    border: none;
    background: none;
    font-size: 20px;
    color: white;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.botonLike {
    width: 10px;
    height: 10px;
    margin-top: 5px;
}

.cajaLike {
    display: flex;
    align-items: center;
}

.contador {
    width: 20px;
    border: none;
    background: none;
    color: white;
    pointer-events: none;
}


@media (min-width: 900px) {
    .bienvenida{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .headerPerfil {
        width: 80%;
    }

    .contenedorMenu {
        height: 80px;
    }

    .nombrePerfil {
        padding-top: 12px;
        font-size: 25px;
    }

    .foto {
        width: 60px;
        height: 60px;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .checkmenu{
        width: 60px;
        height: 60px;
        background: none;
        border: none; 
    }
    .checkMenuIcon{
        width: 60px;
        height: 60px;
    }
    
    .asideMenu {
        width: 20%;
        top: 100px;
        height: 300px;
        margin-left: 120px;
    }

    .asideMenu .listasMenu a {
        padding: 20px 0;
        font-size: 20px;
    }

    .asideMenu .listasMenu a:hover {
        padding: 20px 10px;
        font-size: 20px;
    }
    .iconoSalir {
        width: 40px;
        height: 40px;
    }
    .header_pagina {
        height: 400px;
        padding-top: 150px

    }

    .header_pagina h1 {
        font-size: 150px;
    }

    .header_pagina h3 {
        font-size: 30px;
    }

    .cajapost {
        width: 60%;
    }

    .contenedorCaja {
        flex-direction: row;
        gap: 25px;
        flex-wrap: wrap;
    }

    .cardCont {
        width: 800px;
        height: 300px;

    }
    
     .numLike{
         font-size: 20px;
         font-weight: 700;
     }
    .cajaText {
        font-size: 25px;

    }

    .cajaName {
        font-size: 20px;
    }

    .delete_img {
        margin-top: 15px;
        width: 30px;
        height:30px;
    }

    .btnEdit {

        width: 30px;
        height: 30px;
    }

    .edit_img {
        margin-top: 2px;
        width: 30px;
        height: 30px;
    }

    .btnDelete {
        width: 50px;
        height: 50px;
    }

    .btnSaveImage {
        width: 30px;
        height: 30px;
    }

    .formPost {
        width: 800px;
        height: 350px;
    }

    .textoPost {
        font-size: 25px;
    }

    .botonPost {
        width: 150px;
        height: 40px;
        font-size: 20px;
    }

    .btnLike {
        width: 25px;
        height: 25px;
        font-size: 30px;
        margin-right: 15px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .botonLike {
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-top: 20px;

    }

    .contador {
        width: 40px;
        height: 30px;
        border: none;
        background: none;
        color: white;
        font-size: 25px;
        pointer-events: none;

    }
    .sectionBody h3{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .sectionBody{
        margin-top: 100px;
    }
    /*
    .notas {
           display: inline-block;
            width: 40px;
            height: 40px;
            position: relative;
            top: -250px;
            right: -210px;
    }*/

}