.bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/sinFondo.png);
    background-attachment: fixed;
    background-position: center;
}

.texto_bienvenida {
    font-family: 'Libre Baskerville', serif;
    color: white;
    display: inline-block;
    font-size: 40px;
    align-items: flex-end;
}
.caja0{
    display: flex;
}

.cajas {
    display: flex;
    color: white;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.cajas2 {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    position: relative;
    margin-bottom: 40px;
}

.podcasts {

    padding: 20px;
    background-color: #f16c07;
    border-radius: 10px;
    height: 100px;
    width: 160px;
}

.new {

    padding: 20px;
    background-color: #fb0804;
    border-radius: 10px;
    height: 100px;
    width: 160px;
    align-content: center;
}

.populares {

    padding: 20px;
    background-color: #ff00c8;
    border-radius: 10px;
    height: 100px;
    width: 160px;
    align-content: center;
}

.artistas {

    padding: 20px;
    background-color: #88047f;
    border-radius: 10px;
    height: 100px;
    width: 160px;
    align-content: center;
}

.parrafo_publicacion {
    color: white;
    margin: 60px;
    font-size: 30px;
}

.play {
    width: 170px;
    height: 170px;
    background: transparent;
    border-radius: 90px;
    box-shadow: 5px 5px 17px #999;
    margin-bottom: 40px;
}


/*.btn_regresar {
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: var(--sombra_boton);
    margin-top: 0px;
}*/
.update {
    color: white;
    font-size: 10px;
    margin: 5px;
    text-decoration: underline;
}

.Nombrebienvenida {
    color: #fb0804;
}

@keyframes moverTitulo {
    0% {
        transform: scale(0.9)
    }

    100% {
        transform: scale(1.1)
    }
}

.botonAtras {
    display: inline-block;
    top: 0;
    left: 0;
    position: fixed;
}

.btn_atras {
    padding: 2px;
    cursor: pointer;
    width: 50px;
    height: 45px;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: #fae0e4;
}

.btn_atras:active {
    background-color: transparent;
    transform: translateY(4px);
}

.btn_atras:hover {
    color: var(--color_boton_claro_regreso_hover);
    background-color: var(--color_boton_oscuro_regreso_hover);
    box-shadow: var(--sombra_boton);
}

.imgProfile {
    width: 50px;
    height: 50px;
}

.btn_logout {
    padding: 2px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    background: var(--color_oscuro_boton_formulario);
    color: var(--color_claro_boton_formulario);
    box-shadow: var(--sombra_boton);
    display: inline-block;
    top: 10px;
    right: 10px;
    position: fixed;
}

.btn_logout:active {
    background-color: var(--color_oscuro_boton_formulario);
    box-shadow: var(--sombra_boton_active);
    transform: translateY(4px);
}

.btn_logout:hover {
    color: #0e0f0e;
    background-color: var(--color_boton_form_hover);
}

.btn_cerrar {
    outline: none;
    border: none;
    background: var(--color_oscuro_boton_formulario);
    color: white;
    font-size: 17px;
    text-align: center;
    padding-top: 8px;
}