.header_pagina {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction:column;
    padding-top: 55px;
    align-items: center;
    padding-top: 120px;
}

.header_pagina h1{
    font-family: 'Aladin', cursive;
    font-weight: 700;
    font-size: 50px;
    color:#38f9d7;
}

.header_pagina h3{
  color: #88fde8;
}

@media (min-width: 900px){
    .header_pagina {
        height: 400px;
        padding-top: 150px

    }

    .header_pagina h1 {
        font-size: 150px;
    }

    .header_pagina h3 {
        font-size: 30px;
    }

}