.cont_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 10px;
    margin-bottom: 3rem;
}

.logo_home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin: auto;
    /*    -webkit-box-reflect: below -520px
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));*/
}

.logoimagen {
    width: 100%;
    height: 60%;
}

.logoimagenrepeat {
    width: 100%;
    height: 60%;
    margin-top: -200px;
    opacity: 0.4;
}

.logopc {
    width: 0%;
    height: 0%;
}

.letraLogo {
    font-family: 'Libre Baskerville', serif;
    margin-top: 90px;
    color: white;
    display: inline-block;
    font-size: 60px;
    align-items: flex-end;
}

.botonregistro {
    cursor: pointer;
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #ff0a54;
    color: #fae0e4;
    box-shadow: 0 9px 14px rgba(255, 254, 254, 0.3);
}

.botoniniciosesion {
    cursor: pointer;
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #680da4;
    color: #fae0e4;
    box-shadow: 0 9px 14px rgba(255, 254, 254, 0.3);
}

.divBotones {

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*medida para PC*/
@media (min-width: 768px){
    .divBotones{
        margin-bottom: 30px;
    }
    .botonregistro {
        width: 350px;
        height: 60px;
        font-size: 25px;
    }
    .letraLogo {
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        margin-top: 40px;
        margin-right: 50px;
        color: white;
        display: inline-block;
        font-size: 60px;
    }
    .logoimagen {
        width: 0px;
    }
    .logoimagenrepeat {
        width: 0px;
    }
    .cont_home {
        padding-top: 60px;
        background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/sinFondo.png);
        background-attachment: fixed;
        background-position: center;
    }



    .botoniniciosesion {
        width: 350px;
        height: 60px;
        font-size: 25px;
    }


}

