.divPadre2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(17, 15, 15, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgb(0, 0, 0, 0.2) 150%), linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 200%),url(../img/musica2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_login {
  width: 100%;
  height: 100%;
}

.img_container_login {
  display: none;
}

.btn_home_login {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  background: none;
  cursor: pointer;
}

.mensajeBienvenida2 {
  width: 100%;
  height: 100px;
  text-align: center;
}

.mensajeBienvenida2 h2 {
  font-weight: 700;
  font-size: 35px;
  color: #43e97b;

}

.formulariologin {
  width: 90%;
  height: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
  border-radius: 15px;
}

.formulariologin h2 {
  color: #38f9d7;
  text-align: center;
  font-weight: 700;
}

.grupos2 {
  position: relative;
  margin: 45px;
}

.emailLogin,
.passLogin {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
border-bottom: 1px solid var(--colorTextos);
}

.emailLogin:focus,
.passLogin:focus {
  outline: none;
  color: #43e97b;
}

.labelEmailLogin,
.labelPassLogin {
  color: var(--colorTextos_login);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

.emailLogin:focus~label,
.emailLogin:valid~label {
  top: -14px;
  font-size: 15px;
  color: #feeafa;
}

.passLogin:focus~label,
.passLogin:valid~label {
  top: -14px;
  font-size: 15px;
  color: #feeafa;
}

.barraLogin {
  position: relative;
  display: block;
  width: 100%;
}

.barraLogin::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  transition: 0.3s ease width;
  left: 0;
}

.emailLogin:focus~.barraLogin::before {
  width: 100%;
}

.passLogin:focus~.barraLogin::before {
  width: 100%;
}

.btn_form_login {
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  /*background: var(--color_boton_login);*/
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: white;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}
.btn_form_login:hover{
  background: linear-gradient(-225deg, rgba(212, 255, 236, 0.5) 0%, #57F2CC 48%, #4596FB 100%)
}

.btn_googleL {
  border: none;
  display: block;
  margin: 10px auto;
  height: 40px;
  background: none;
}

.imgGoogleL {
  width: 100px;
  height: 80px;
  cursor: pointer;

}

@media (min-width: 900px) {
  .con_form_login {
    display: flex;
    width: 80%;
    margin: auto;
  }

  .divPadre2 {
    background: linear-gradient(to bottom, rgba(17, 15, 15, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgb(0, 0, 0, 0.2) 150%), linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 200%),url(../img/musica.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .formulariologin {
    width: 400px;
    margin-left: -10px;
    margin-top: -20px;
  }

  .img_container_login {
    display: flex;
    width: 60%;
    height: 100%;
    align-items:center;
    margin: auto;
  }
  .music_img_login{
    width: 50%;
    height: 50%;
  }
  .mensajeBienvenida2 h2 {
    font-size: 50px;
   
  }

  .btn_home_login {
    color: white;
    font-size: 50px;
    font-weight: 600;
  }
}