.divPadre {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/musica2.jpg);
  /*background-image: linear-gradient(-225deg, rgba(255, 60, 172, 0.5) 0%, rgba(86, 43, 124) 52%, rgb(43, 134, 197) 100%),url(../img/sinFondo.png);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /*background-attachment: fixed;
  background-position: center;*/
}

.container_registro {
  width: 100%;
  height: 100%;
}

.img_container_registro {
  display: none;
}

.btn_home_registro {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  font-size: 40px;
  color: white;
  padding-bottom: 10px;
  background: none;
  cursor: pointer;
}

.mensajeBienvenida {
  width: 100%;
  height: 100px;
  text-align: center;
}

.mensajeBienvenida h2 {
  font-weight: 700;
  font-size: 35px;
  /*color: #80ffdb;
  -webkit-text-stroke: 0.4px #48bfe3;*/
  color: #fe77f8;
}

.formularioRegistro {
  width: 90%;
  height: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
  border-radius: 15px;
}

.formularioRegistro h2 {
  color: #cfbaf0;
  text-align: center;
  font-weight: 700;
}

.grupos {
  position: relative;
  margin: 45px;
}

.email_registro,
.pass_registro {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

.email_registro:focus,
.pass_registro:focus {
  outline: none;
  color: #5e5d5d;
}

.labelEmail,
.labelPass {
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

.email_registro:focus~label,
.email_registro:valid~label {
  top: -14px;
  font-size: 15px;
  color: #feeafa;
}

.pass_registro:focus~label,
.pass_registro:valid~label {
  top: -14px;
  font-size: 15px;
  color: #feeafa;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  transition: 0.3s ease width;
  left: 0;
}

.email_registro:focus~.barra::before {
  width: 100%;
}

.pass_registro:focus~.barra::before {
  width: 100%;
}

.btn_formulario_registro {
  /*background: linear-gradient(to right, #B06AB3, #4568DC);*/
  background: var(--color_boton_registro);
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.btn_google {
  border: none;
  display: block;
  /*width: 80%;*/
  margin: 10px auto;
  height: 40px;
  background: none;
}

.imgGoogle {
  width: 100px;
  height: 80px;
  cursor: pointer;

}

@media (min-width: 920px) {
  .con_form_registro {
    display: flex;
  }

  .divPadre {
    height: 100%;
    width: 100%;
    background-image: url(../img/musica.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
  }

.imgRegistro {
    height: 100%;
    width: 50%;
    background-image: url(../img/regis.gif);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 300px;
    margin-top: 200px;
margin-left: 150px;
  }

  .formularioRegistro {
    width: 400px;
    margin-left: -10px;
    margin-top: -20px;
  }

  .img_container_registro {
    display: block;
    width: 60%;
    height: 100%;
    background: rgba(255, 60, 172)
  }

  .mensajeBienvenida h2 {
    font-size: 50px;
    -webkit-text-stroke: 0.6px #48bfe3;
  }

  .btn_home_registro {
    color: white;
    font-size: 50px;
    font-weight: 600;
  }
}